<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <a href="#"  class="navbar-brand">Jamsoft Sistema</a>

          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="list" class="btn btn-info">Lista de Empresas </a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/add" class="btn btn-info">Adicionar Empresa</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>

    </div>
  </div>
</div>







